<!-- app/views/posts/show.html.erb -->
<h1>Posts#show</h1>
<h1><%= @post.title %></h1>
  <%= @post.content %>
<hr>
<%= nav_li 'Edit Post', edit_post_path %>
<%= link_to 'Delete', @post, method: :delete %>
<%= nav_li 'Back', posts_path %>
